@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 2, 13;
  --background-end-rgb: 5, 2, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

/* ... (your existing @tailwind rules) */

.gradient-drift {
  /* This makes the background 2x wide so it can move */
  background-size: 200% auto;
}